* {
    color: #FFFAEF;
    background-color: #10162F;
}

body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
    font-family: "Outfit";
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    min-height: 100vh;
    font-weight: bold;
}

.sidebar nav {
    margin-top: 22px;
    padding: 0;
    text-align: center;
    height: calc(100% - 22px);
}

.sidebar ul {
    display: flex;
    height: calc(100% - 135px);
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
}

.sidebar ul > :last-child {
    margin-top: auto;
}

.sidebar ul > :last-child a {
    color: #8D8D8D;
    margin-top: auto;
}

.sidebar li {
    width: 100%;
}

.sidebar li a {
    display: block;
    padding: 20px 40px;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: #FFFAEF;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    flex-grow: 1;
    background-color: #FFFAEF;
    margin: 20px 0;
    margin-right: 20px;
    gap: 40px;
    padding: 40px 40px 40px 40px;
    border-radius: 20px;
    overflow-y:scroll;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

section {
    color: black;
    background-color: #FFFAEF;
}

section * {
    color: black;
    background-color: transparent;
    font-size: 24px;
}

section .material-icons {
    font-size: 32px;
}

table {
    border: 1px solid #eeeeee;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

thead {
    padding: 20px 0;
    background-color: #10162F;
} 

th {
    font-weight: 500;
    font-size: 20px;
    color: white;
    padding: 5px 20px;
}

td {
    text-align: center;
    font-weight: 400;
    vertical-align: middle;
    padding: 5px 20px;
    font-size: 20px;
}

button {
    color: #FFFAEF;
    background-color: #10162f;
    border: 2px solid black;
    width: 100px;
}

button:hover {
    color: #10162f;
    cursor: pointer;
    background-color: #FFFAEF;
}

input, textarea {
    padding: 4px 0 4px 12px;
    border-radius: 5px;
    border: 3px solid black;
    font-size: 20px;
    width: 100%;
}

input::placeholder, textarea::placeholder {
    color: rgba(0, 0, 0, 0.576);
}

input[type="date"] {
    width: 20%;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.active {
    background-color: #FFFAEF;
    color: black;
}
.active a {
    background-color: #FFFAEF;
    color: black;
}

.hidden {
    display: none;
}

#logo {
    margin-top: 20px;
    margin-bottom: 30px;
}
#logo img {
    cursor: pointer;
    width: 70px;
    height: 40px;
    object-fit: contain;
}

.label {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 10px;
    text-align: center;
    align-items: center;
}

#dashboard .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

#dashboard .card {
    border-radius: 20px;
    min-width: 300px;
    padding: 20px;
    text-align: center;
    margin: 20px 0 0 0;
    font-weight: bold;
}

#cancel-button, #return-button {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    background-color: #FFFAEF;
    border: 2px solid #FFFAEF;
    width: 100px;
}

#return-button:hover {
    color: #1d307e;
    cursor: pointer;
}

#cancel-button:hover {
    color: #FFFAEF;
    background-color: #10162F;
    cursor: pointer;
}

.fit-content {
    width: fit-content;
}

.card .material-icons {
    font-size: 50px;
}

.card .title {
    font-size: 20px;
    font-weight: 500;
}

.card .value {
    font-size: 50px;
    font-weight: 600;
}

.content .first {
    background-color: rgba(244, 192, 80, 0.65);
}

.content .second {
    background-color: rgba(169, 179, 223, 0.80);
}

.table-container {
    position: relative;
}

.button-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -30px;
}

.button-container a {
    font-size: 20px;
    color: #10162f8f;
}

.button-container a:hover {
    color: #10162f;
}

.fit {
    white-space:nowrap;
}

.overflow {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.form-container {
    background-color: #c8d3fc;
    margin: auto;
    margin-top: 0px;
    color: black;
    padding: 20px 50px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 10px;
    width: 100%;
}

.form-title h1 {
    font-size: 35px;
}

.form-content {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: flex-start;
    width: 100%;
    gap: 15px;
}

.form-content label { 
    font-size: 25px;
    text-align: right; 
}
.form-content label::after { content: ":"; }

.center-form {
    align-items: center;
}
.actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.actions i:hover {
    color: blue;
}

.add-button {
    padding: 0;
    background-color:transparent;
}
.add-button a {
    display: block;
    padding: 5px 20px;
    width: 100%;
}

.add-button a:hover {
    background-color: #10162F;
}

.add-button a:hover i {
    color: white;
}

.dark-border-thick {
    border-width: 2px;
    border-color: #10162f;
}

.shrink {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.gap-top {
    margin-top: 20px;
}


.red {
    color: red;
}

.green {
    color: green;
}