* {
    color: #FFFAEF;
    background-color: #10162F;
}

body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
    font-family: "Outfit";
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    min-height: 100vh;
    font-weight: bold;
}

nav {
    margin-top: 22px;
    padding: 0;
    text-align: center;
    height: calc(100% - 22px);
}

ul {
    display: flex;
    height: calc(100% - 135px);
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
}

ul > :last-child {
    margin-top: auto;
}

ul > :last-child a {
    color: #8D8D8D;
    margin-top: auto;
}

li {
    width: 100%;
}

li a {
    display: block;
    padding: 20px 40px;
    text-decoration: none;
}

li a:hover {
    background-color: #FFFAEF;
    color: black;
}

main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    flex-grow: 1;
    background-color: #FFFAEF;
    margin: 20px 0;
    margin-right: 20px;
    gap: 40px;
    padding: 40px 40px 40px 40px;
    border-radius: 20px;
    overflow-y:scroll;
}

section {
    color: black;
    background-color: #FFFAEF;
}

section * {
    color: black;
    background-color: transparent;
    font-size: 24px;
}

section .material-icons {
    font-size: 32px;
}

table {
    border: 1px solid #eeeeee;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

thead {
    padding: 20px 0;
    background-color: #10162F;
} 

th {
    font-weight: 500;
    font-size: 20px;
    color: white;
    padding: 5px 20px;
}

td {
    text-align: center;
    font-weight: 400;
    vertical-align: middle;
    padding: 5px 20px;
    font-size: 20px;
}

.active {
    background-color: #FFFAEF;
    color: black;
}
.active a {
    background-color: #FFFAEF;
    color: black;
}

.hidden {
    display: none;
}

#logo {
    margin-top: 20px;
    margin-bottom: 30px;
}
#logo img {
    cursor: pointer;
    width: 70px;
    height: 40px;
    object-fit: contain;
}

.label {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 10px;
    text-align: center;
    align-items: center;
}

#dashboard .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

#dashboard .card {
    border-radius: 20px;
    min-width: 300px;
    padding: 20px;
    text-align: center;
    margin: 20px 0 0 0;
    font-weight: bold;
}

.fit-content {
    width: fit-content;
}

.card .material-icons {
    font-size: 50px;
}

.card .title {
    font-size: 20px;
    font-weight: 500;
}

.card .value {
    font-size: 50px;
    font-weight: 600;
}

.content .first {
    background-color: rgba(244, 192, 80, 0.65);
}

.content .second {
    background-color: rgba(169, 179, 223, 0.80);
}

.table-container {
    position: relative;
}

.button-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -30px;
}

.button-container a {
    font-size: 20px;
    color: #10162f8f;
}

.button-container a:hover {
    color: #10162f;
}

.fit {
    white-space:nowrap;
}

.overflow {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}