html {
    font-family: "Outfit", Helvetica, sans-serif;
    background-color: #10162F;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    background-color: #10162F;
    align-items: center;
    z-index: 999;
}

main {
    margin-top: 58px;
    color: white;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    margin: 0 12%;
}

ul {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    text-align: center;
    list-style-type: none;
}

li {
    color: #787373;
    text-transform: uppercase;
}

ul > :nth-last-child(2) {
    margin-left: auto;
}

ul > :nth-last-child a {
    margin-left: auto;
}

ul > :nth-last-child(3) {
    margin-right: auto;
}

footer {
    width: 100%;
    font-weight: bold;
    background-color: #10162F;
    margin: 20px 0;
}

#logo {
    position: relative;
    top: 14px;
}
#logo img {
    cursor: pointer;
    margin-right: 0;
    width: 70px;
    height: 30px;
    object-fit: contain;
}

#footer-info {
    margin: 0 12%;
    align-items: center;
    text-align: center;
}
#footer-logo img {
    cursor: pointer;
    width: 100px;
    height: 70px;
    object-fit: contain;
}
#footer-info a {
    color: #83C5BE;
    font-weight: bold;
}
#footer-info .contact-details {
    color: white;
    text-align: center;
}
#footer-info .contact-details-icons i {
    margin: 20px 20px 0 20px;
}

.main-nav-item {
    width: max-content;
    height: auto;
}
.main-nav-item a {
    height: 100%;
    display: block;
    padding: 20px 30px;
    color: #CBCBCB;
}
.main-nav-item a:hover {
    background-color: #FEBD2F;
    cursor: pointer;
    color: #000000;
}

.oval-button {
    margin: 8px 0;
    margin-left: 8px;
    padding: 10px 16px;
    text-align: center;
    width: 93px;
    border-radius: 25px;
    border-color: transparent;
    background-color: #FEBD2F;
    color: #000000;
    font-family: "Outfit", Helvetica, sans-serif;
    font-weight: bold;
}
.oval-button:hover {
    background-color: #fdb51b;
    cursor: pointer;
}