.course-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, auto));
    grid-auto-rows: 1fr;
    gap: 50px;
    font-size: 16px;
    color: white;
    padding: 0;
    margin-top: 10px;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#courses-search-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: black;
    font-size: 25px;
}

#courses-search-section form {
    display: block;
    align-items: left;
    text-align: left;
}


#courses-search-section .search-container input {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 8px 12px;
    filter: grayscale(100%);
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    width: 600px;
    height: 50px;
}

.search-icon {
    background-color: transparent;
    border: 0;
    padding-left: 12px;
    width: auto;
}
.search-icon span {
    padding: 20px 0px;
}
.search-icon span:hover {
    color:brown;
}
.search-input {
    flex: 1;
    border: none;
    padding: 12px;
    border-radius: 20px;
    font-size: 20px;
}

.course-cards-container a {
    color: blue;
    text-decoration: none;
}
.course-cards-container a:hover {
    color: black;
}